pushi 0
pushi 0
start
pushi 1
storeg 0
pushi 0
storeg 0
loop :
pushg 0
pushi 0
equal
not
jz done
pushs "Escreva um numero :"
writes
read
atoi
storeg 0
pushg 0
pushi 2
mod
pushi 0
equal
jz done
pushg 0
writei
